streamlit

pandas==2.2.3
numpy==1.26.4
plotly

scikit-learn==1.5.2
joblib

requests

python-dotenv

google-generativeai

qdrant-client
fastembed

langchain
langchain-core
langchain-community
langchain-groq
langgraph

sentence-transformers

pillow

torch
onnxruntime